mixin wave
	svg.abs-cover.dim-cover.header-wave(view-box-fit, preserveAspectRatio='none')&attributes(attributes)
		path.top.no-fill(relative-d="M 0 50% L 50% 0 L 100% 50%" 
		relative-dash 
		relative-dash-size="{{tween.T}}%" 
		relative-dash-position="{{-(50 - tween.T/2)}}%"
		)
mixin wave-2
	svg.abs-cover.dim-cover.header-wave(view-box-fit, preserveAspectRatio='none')&attributes(attributes)
		path.wave-2.top.no-fill(relative-d="M {{50-tween.T * 0.5}}% {{tween.T * 0.5}}% L 50% 0 L {{50 + tween.T * 0.5}}% {{tween.T * 0.5}}%" )
mixin special-beam-cannon
	my-tween.tester(
	duration=0.3
	to=100
	path-animator-0=''
	ani-time='tween.T'
	ng-mouseenter='ani.setSideFromEvent($event) + tween.play()'
	ng-mouseleave='ani.setSideFromEvent($event) + tween.reverse()')
		svg.dim-cover.header-wave(
		view-box-fit
		preserveAspectRatio='none'
		ng-show="tween.T > 0"
		)&attributes(attributes)
			path.top.no-fill(relative-d="M 0 50% L 50% 0 L 100% 50%" 
			relative-dash 
			relative-dash-size="{{ani.size}}%" 
			relative-dash-position="{{ani.position}}%")