//- ng-mousemove="ctrl.moveDash($event)" 
mixin the-wavebeam
	#wavebeam.abs-cover.hidden-xs(ng-class=`{
	'as-diamond': ctrl.tween === 0,
	'into-square': !ctrl.animation.reversed()
	}`)
		svg.abs-cover.dim-cover.header-wave(view-box-fit, preserveAspectRatio='none')
			path.top.no-fill(relative-d="ctrl.path" 
			relative-dash 
			relative-dash-size="ctrl.dashSize" 
			relative-dash-position="ctrl.dashPosition")
		svg.abs-cover.dim-cover.origin-center.reflect-y(view-box-fit, preserveAspectRatio='none')
			path.bottom.no-fill(relative-d="ctrl.path" 
			relative-dash 
			relative-dash-size="ctrl.dashSize" 
			relative-dash-position="ctrl.dashPosition")
		svg#ghost-path.abs-cover.dim-cover.invisible(view-box-fix, preserveAspectRatio="none")
			path.ghost.no-fill(relative-d="ctrl.path")

mixin the-header-build
	.padd-md
		.header-component.header-text.relative.padd-md.ng-cloak(
			ng-mouseleave="ctrl.anchorOn(ctrl.active) + ctrl.toSquare()" 
			ng-mouseenter="ctrl.toDiamond()")
			+the-wavebeam
			+a-row-of-links
mixin a-row-of-links
	.row
		.col-sm-3(ng-repeat="link in ctrl.links")
			+a-header-link
mixin a-header-link
	.clicker(
		ng-class="{outline: ctrl.isActive(link)}"
		ng-click="ctrl.activateLink(link)"
		ng-mouseenter="ctrl.anchorOn(link)"
	)
		+a-header-text
			|{{link}}
mixin a-header-text
	div(class=`
	txt-center	
	padd-md	
	font-md	
	uppercase	
	dense	
	no-highlight	
	pointer	
	underline
		`)&attributes(attributes)
		block
+the-header-build