mixin contact-info
	.my-contact-info.wide.abs.above&attributes(attributes)
		+contact-button('left', 'phone', '330-324-4867')
		+contact-button('right', 'email', 'hafley66&#8203;@&#8203;gmail.com', 'envelope-o').reflect-x.about-center

mixin contact-button(side, type, text, icon)
	+contact-tween(class=`at-${side}`)
		+a-path('{{paths.contactButton(tween.T)}}').abs-cover&attributes(attributes)
		.contact-info.abs-cover(class=`contact-${type}`)
			+contact-side-text(text)
			.buffer.abs.dim-cover
				.i.icon.fa(class=`fa-${icon || type}` ng-click="tween.toggle()" aria-hidden="true")

mixin contact-tween
	.relative.extra-triangle(
	my-tween 
	to='1' 
	duration='0.3' 
	reverse-duration='0.45' 
	ng-class=`{open: tween.T > 0 && !tween.reversed(),
	closing: tween.T > 0 && tween.reversed()}`)&attributes(attributes)
		block

mixin contact-side-text(text)
	.abs-center.txt-center.dense.contact-text.wide&attributes(attributes)!=text