include ../global.pug
include ./contact-buttons.pug
include ./resume.text.pug

-var openingCond = '(tween.T < 1 && tween.T !== 0 && tween.reversed())'
-var closingCond = 'tween.T > 0 && tween.T !== 1 && !tween.reversed()'
-var closedCond = 'tween.T === 1'
-var openedCond = 'tween.T === 0 || tween.paused()'

mixin resume
	#resume
		+contact-info
		.resume-flow
			.wide.relative
				.roh
					.col-md-4.col-md-push-8
						+my-education
					.col-md-8.col-md-pull-4
						+my-experiences
						+my-projects

mixin my-education
	.my-education.roh
		+section-tween.col-md-12
			+section-heading-text('EDUCATION')(
			collapse-target="#my-education-loop" 
			collapse-when=`${closingCond} || ${closedCond}`
			)
			#my-education-loop.collapse.in.relative
				.loop(ng-repeat="school in resume.education")
					+main-text('{{school.name}}').txt-center.dense
					+sub-text.txt-center
						|{{school.degree}}
						br
						|{{school.graduated}}

mixin my-experiences
	.my-experiences.roh
		+section-tween.col-md-12
			+section-heading-text('WORK HISTORY')(
			collapse-target="#my-experiences-loop" 
			collapse-when=`${closingCond} || ${closedCond}`
			)
			#my-experiences-loop.collapse.in.relative
				.loop(ng-repeat="job in resume.jobs")
					+main-text('{{job.name}}').txt-left.dense
					+sub-text
						|{{job.position}}
					ul.a-list
						li.black(ng-repeat="point in job.highlights")
							|{{point}}

mixin my-projects
	.my-projects.roh
		+section-tween.col-md-12
			+section-heading-text('PROJECTS')(
			collapse-target="#my-projects-loop" 
			collapse-when=`${closingCond} || ${closedCond}`
			)
			#my-projects-loop.collapse.in.relative
				.loop(ng-repeat="project in resume.projects")
					+main-text('{{project.name}}').txt-left.dense
					.sub-text.font-sm.black|{{project.description}}

+resume