

mixin section-tween
	.collapse-buffer.relative
		.section-tween(
	my-tween 
	value="{{tween.T}}"
	to='1' 
	duration='0.3' 
	ng-class=`{opening: ${openingCond}, opened: ${openedCond}, closing: ${closingCond}, closed: ${closedCond}}`)&attributes(attributes)
			block

mixin section-heading
	.section-heading-text.text.uppercase.dense.relative.no-highlight.pointer.txt-center&attributes(attributes)
		block
mixin section-heading-text(text, styleOpt)
	-var {left=10, right=10, ylift=100} = styleOpt || {}
	+section-heading(ng-click="tween.toggle()")&attributes(attributes)
		+a-path(`{{paths.headingBg(tween.T, ${left}, ${right}, ${ylift})}}`, true).abs-cover.svg-shadow
		+a-path(`{{paths.headingBg(tween.T, ${left}, ${right}, ${ylift})}}`, false).abs-cover
		.relative=text
		block

mixin main-text(text, tweens, styleOpt)
	-var {left=5, right=5, ylift=50} = styleOpt || {}
	.highest.main-text.relative.text&attributes(attributes)
		+a-path(`{{paths.headingBg(${tweens? 'tween.T' : 'undefined'}, ${left}, ${right}, ${ylift})}}`, false).abs-cover
		.white.relative.sans4=text
		block

mixin sub-text(text, tweens, styleOpt)
	-var {left=5, right=5, ylift=25} = styleOpt || {}
	.sub-text.relative.text&attributes(attributes)
		+a-path(`{{paths.headingBg(${tweens? 'tween.T' : 'undefined'}, ${left}, ${right}, ${ylift})}}`, false).abs-cover
		.actual-text.relative.dense=text
		block
