mixin Navler
	#Navler.as-Nav
		+_Nav-Grid-Col

mixin _Nav-Grid-Col
	.roh
		each link in ['about', 'resume']
			.col-sm-6
				+NavLink(link)

mixin NavText(text)
	.NavText(ng-class="{'has-underline': site.isAt(link)}")=text

mixin NavSvg
	+fit-svg.NavSvg
		+NavSvgPath

mixin NavSvgPath
	path.NavSvgPath(
	ng-attr-filter="{{site.isAt(link) && 'url(#dropshadow)'}}" 
	d=paths.linkPath(0)
	path-to=paths.linkPath(1)
	)

mixin NavLink(text)
	.NavLink(
		hover-state
		ng-click="site.activate(link)"
		ng-class="{active: site.isAt(link)}"
		class="{{::link}}"
		collapse-target="#{{::link}}"
		collapse-when="{{!site.isAt(link)}}"
		collapse-parent="#contentler"
	)
		+NavSvg
		+NavText(text)
