mixin Navler
	#Navler.as-Nav
		+_Nav-Grid-Col
			+NavLink
				+NavSvg
				+NavText

mixin _Nav-Grid-Col
	.roh
		.col-sm-4(ng-repeat='link in site.links')
			block

mixin NavText
	.NavText(ng-class="{'has-underline': site.isAt(link)}")
		|{{::link}}

mixin NavSvg
	+fit-svg.NavSvg
		+NavSvgPath

mixin NavSvgPath
	path.NavSvgPath(
	ng-attr-filter="{{site.isAt(link) && 'url(#dropshadow)'}}" 
	relative-d="{{paths.linkPath((hovering || site.isAt(link)) + 0)}}"
	)

mixin NavLink
	.NavLink(
		hover-state
		ng-click="site.activate(link)"
		ng-class="{active: site.isAt(link)}"
		class="{{::link}}"
		collapse-target="#{{::link}}"
		collapse-when="!site.isAt(link)"
		collapse-parent="#contentler"
	)
		block
