mixin Navler
	#Navler.as-Nav
		+_Nav-Grid-Col
			+NavLink
				+NavText
				+NavSvg

mixin _Nav-Grid-Col
	.roh
		.col-sm-4(ng-repeat='link in header.links')
			block
mixin NavText
	.NavText(ng-class="{'has-underline': header.isAt(link)}")
		|{{::link}}
mixin NavSvg
	+fit-svg.NavSvg
		+NavSvgPath
mixin NavSvgPath
	path.NavSvgPath(ng-attr-filter="{{header.isAt(link) && 'url(#dropshadow)'}}" relative-d="{{paths.linkPath(0)}}")
mixin NavLink
	.NavLink(
		path-ani="diamond"
		ng-click="header.activate(link)"
		ng-mouseenter="path.goto(1)" 
		ng-mouseleave="header.isAt(link) || path.goto(0) "
		ng-class="{active: header.isAt(link)}"
		class="{{::link}}"
		collapse-target="#{{::link}}"
		collapse-when="!header.isAt(link)"
		collapse-parent="#contentler"
	)
		block
