mixin SectionText(text, activeWhen)
	.SectionText&attributes(attributes)!=text
		+SectionTextDecoration(activeWhen)

mixin SectionTextDecoration(activeWhen) 
	.SectionTextDecoration&attributes(attributes)
		+fit-svg.SectionTextSvg
			-var pathString = `{{paths.headingBg2(${activeWhen} + 0)}}`
			path.the-shadow(d=paths.headingBg(0) to-path=paths.headingBg(1) filter="url(#dropshadow")
			path.SectionTextPath(d=paths.headingBg(0) to-path=paths.headingBg(1))

mixin MainText(text)
	.MainText&attributes(attributes)
		+MainTextDecoration
		._MainText!=text

mixin MainTextDecoration
	.MainTextDecoration&attributes(attributes)
		+fit-svg.MainTextSvg
			path.MainTextPath(d=paths.headingBg(0))

mixin SubText(text)
	.SubText&attributes(attributes)
		+SubTextDecoration
		._SubText
			block

mixin SubTextDecoration
	.SubTextDecoration&attributes(attributes)
		+fit-svg.SubTextSvg
			path(d="M 0 0, L 10% 0, L 90 0, L 100 0, L 90 100 L 10 100 Z" vector-effect="non-scaling-stroke")


mixin _SectionColumn(initShow, text, target, parent)
	.col-md-12(
			section-text 
			section-init=(initShow + '')
		)
			+SectionText(text, 'section.open')(
			ng-class="{open: section.open}"
			ng-click="toggleSection()"
			data-toggle="collapse"
			data-target=('#' + target)
			data-parent=parent
			)
			.collapse.in(id=target)
				block