mixin THE-HEADER
	#header.above(class="{{header.active}}")
		+row-of-links
mixin row-of-links
	.LINKS(hover-state)
		.roh
			.col-sm-4.link-ler(ng-repeat='link in header.links'
			ng-mouseenter="tween.play()" 
			ng-mouseleave="header.isAt(link) || tween.reverse() "
			ng-class="{active: header.isAt(link)}"
			class="{{::link}}"
			collapse-target="#{{::link}}"
			collapse-when="!header.isAt(link)"
			collapse-parent="#contentler"
			)
				.clicker(ng-click="header.activate(link)")
					+a-header-text(ng-class="{'has-underline': header.isAt(link)}")
						|{{link}}
				//- +fit-svg.abs-cover.low.fancy-path
				//- 	path.no-fill(ng-attr-filter="{{header.isAt(link) && 'url(#dropshadow)'}}" relative-d="{{paths.linkPath(tween.T)}}")
mixin a-header-text
	div.header-link(class=`
	txt-center	
	padd-md	
	font-md	
	uppercase	
	dense	
	no-highlight	
	pointer	
	underline
		`
		)&attributes(attributes)
		block