include ../common.pug

-var downTriangle = "M 40 0, H 60, L 50 100, Z"
-var upTriangle ="M 40 100, H 60, L 50 0, Z"
-var downLeftTriangle = "M 0 0, V 100, H 100, Z"

mixin border-square
	.fancy-square-container(square-please='')
		+ResponsiveSVG.blanket
			rect(x=-10, y=-5, width=60, height=110)
		+ResponsiveSVG.border-square
			rect(x=0, y= 0, width=100, height=100)
		+ResponsiveSVG.inner.border-square
			rect(x=10, y= 10, width=80, height=80)
		.text.uppercase.back
			span back
mixin m-triangle-menu()
	.m-triangle-menu.padd-y-child-xs.pstn-r-child(
		ng-controller="fuck as ctrl"
		ng-class="{'active': ctrl.isActive()}")
		
		.button(class="{{::item}}"
		ng-class="{'active': ctrl.isActive(item)}"
		ng-repeat="item in ctrl.items"
		ng-click="ctrl.toggle(item)" 
		float-top
		hover-state)

			.background.abs-cover
				+border-square
				+bg-moving-triangle
			.back-button
				i.fa.fa-arrow-left(aria-hidden="true")
			.color.txt-center.new-stacking-context.uppercase
				span {{item}}

mixin bg-moving-triangle
	.bg-moving-triangle.abs-cover&attributes(attributes)
		+ResponsiveSVG.triangle.triangle-up
			path(d=upTriangle)
		+ResponsiveSVG.triangle.triangle-down
			path(d=downTriangle)

.relative.dim-cover
	.m-login.collapse-child-margins
		+m-triangle-menu()