include ../common.pug
include triangle/

	
mixin the-content()
	.the-content.low.relative&attributes(attributes)
		.flow-in.over-hidden(flow-in="ctrl.isActive(item)") 
			.content
				block
			+rsvg.tri.align-bottom.wide
				+triangle-D.t-above.no-stroke.cc-fill

mixin the-toggle
	+cc-parent.the-toggle.relative.will-move-gpu( ng-click="ctrl.toggle(item)" )
		//- +rsvg.tri.align-top
			+triangle-U.no-stroke.cc-fill
		mixin cc-background
			.cc-bord-sm&attributes(attributes)
			.contact-bars.abs-cover.white.font-sm.hide.shader
				.bar.padd-sm(ng-repeat="type in [['phone', '330-324-4867'], ['email', 'hafley66@gmail.com']]",
				class="{{type[0]}}-bar")
					.contact-info.relative.black.white-bg
						|{{type[1]}}
		mixin cc-text
			.form-name.padd-md.txt-center.uppercase.font-xl.flat-line.no-highlight&attributes(attributes)
				.matrix.relative
					|{{item}}
					.self-declared-title.sub-text.abs-width.below.txt-center.font-md-rem.flat-line-rem.hide.shader
						|Software Engineer
mixin m-triangle-menu()
	.m-triangle-menu.registration.form-items.menu(
			ng-controller="fuck as ctrl"
			ng-class="{'g_active': ctrl.isActive()}"
		)
		.form-item-instance.instance.relative.will-move-gpu.l_active(
			ng-repeat="item in ctrl.items"
			ng-class="{'l_active': ctrl.isActive(item)}"
			class="{{::item}}"
			float-top
			hover-state
		)
			+the-toggle
			+the-content.cc-bord-sm.bord-no-top.t-up.matrix
				.my-resume-content
					.my-resume-experience.column.float-left(ng-repeat="section in ['education', 'work history', 'projects']")
					.my-resume-education.column.float-left
					//- .heading.font-md.black-bg.white.uppercase.p-xs.flat-line
						| {{::section}}
					.text
						| HURRDURR

.relative.dim-cover
	.m-login.collapse-child-margins
		+m-triangle-menu()

mixin my-resume
	.resume